*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

p{
    font-size: medium;
    align-self: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#msg_button{
    style="color: rgb(245, 7, 7);
    margin: 15px;
    align-self: center;
    border-radius: 10px;
    border-color: rgba(7, 10, 14, 0.507);
}

#email_button{
    style="color: rgb(100, 7, 6)
    margin: 15px;
    align-self: center;
    border-radius: 10px;
    border-color: rgba(10, 20, 34, 1.507);
}